@()(implicit req: RequestHeader)

@main {

    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Nearby Connect</span>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li data-bind="ifnot: disconnected, click: disconnect"><a href="#">Disconnect</a></li>
               	</ul>
            </div>
        </nav>

        <div data-bind="if: disconnected">
            <form role="form">
                <div class="form-group">
                    <input type="email" class="form-control" data-bind="value: email" placeholder="Email address"/>
                </div>
            </form>
            <button class="btn btn-primary" data-bind="click: submitEmail">Connect</button>
        </div>

        <div data-bind="if: connecting">
            <span data-bind="text: connecting"></span>
        </div>

        <div class="row maps" data-bind="ifnot: disconnected">
            <div data-bind="css: {'col-md-12': mockGps() == null, 'col-md-8': mockGps() != null}" id="map"></div>
            <div class="mockGpsContainer col-md-4">
                <div id="mockGps"></div>
            </div>
        </div>
    </div>
}
